{{> header}}
<div class="home">
  {{> form-profile}}

  <div class="tapbar">
    <!-- ADD A CLOSE -->
    <div class="home__close">
      <div class="home__close--container">
        <button type="button" class="btn" name="button">
          <span class="home__close--text">Ajouter un proche</span>
          <span class="home__close--plus">+</span>
        </button>
      </div>
    </div>

    <!-- SEARCH BAR -->
    <div class="home__form">
      <input class="home__form--search" type="text" name="search" id="search" placeholder="Rechercher un proche" value="">
      <label for="search">
        <img class="inline desktop--inline" src="src/images/icons/search-icon.svg" alt="Recherche icone" />
      </label>
    </div>
  </div>

  <!-- CANVAS -->
  <div class="home__canvas">
    <canvas id="home-canvas"></canvas>
  </div>

</div>
