{{> header}}
<div class="login text-center">
  <form class="login__form" action="#" method="post">
    <h1 class="desktop--block text-right login__form--title">Connectez-vous</h1>
    <div class="login__form--group">
      <label for="email">
        <img class="mobile--inline" src="src/images/icons/user-icon.svg" alt="User icon" />
        <span class="desktop--block text-left uppercase">Votre compte</span>
      </label>
      <input type="email" name="email" id="email" placeholder="adresse@email.com" value="">
    </div>
    <div class="login__form--group">
      <label for="password">
        <img class="mobile--inline" src="src/images/icons/lock-icon.svg" alt="Lock icon" />
        <span class="desktop--block text-left uppercase">Votre mot de passe</span>
      </label>
      <input type="password" name="password" id="password" placeholder="mot de passe" value="">
    </div>
      <button type="submit" class="btn btn__connexion">Se connecter</button>
      <a href="#" class="btn btn__create--account">Créer un compte</a>
  </form>
</div>
<!-- {{> footer}} -->
