<!-- {{> header}} -->
<h2 class="title center">{{title}}</h2>
<a class="test" href="/home">Retour à la HomePage</a>
<form class="form-login" action="#" method="post">
  <div class="form-login_group">
    <label for="email">
      User
    </label>
    <input type="email" name="email" id="email" placeholder="adresse@email.com" value="">
  </div>
  <div class="form-login_group">
    <label for="password">
      Lock
    </label>
    <input type="password" name="password" id="password" placeholder="Mot de passe" value="">
  </div>
</form>
<!-- {{> footer}} -->
