{{> header}}
<div class="profile">

  <!-- PROFILE PICTURE -->
  <div class="profile__container--image">
    <img src="src/images/profile-image-1.jpg" class="profile--image" alt="Profile image" />
  </div>

  <!-- INFORMATIONS -->
  <div class="text-center profile__infos">
    <div class="profile__infos--name">
      <p>
        Laure Perrault
      </p>
    </div>
    <div class="profile__infos--date text-left">
      <p>
        28 juillet 1988
      </p>
      <p>
        10 aout 2014
      </p>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="profile__action">

    <!-- ADD A REMEMBER -->
    <div class="profile__action--remember">
      <div class="action">
      <button class="btn" type="button" name="button">
        +
      </button>
      </div>
      <div class="content">
        <span>12</span><br>
        souvenirs
      </div>
    </div>

    <!-- ADD A FLOWER -->
    <div class="profile__action--flower pull-right">
      <div class="content">
        <span>43</span><br>
        fleurs reçues
      </div>
      <div class="action">
        <button class="btn" type="button" name="button">
          <img src="src/images/icons/flower-shadow-icon.svg" alt="Fleur icon" />
        </button>
      </div>
    </div>

  </div>

  <!-- TABS -->
  <div class="profile__tabs">

    <!-- SELECT REMEMBER -->
    <div class="profile__tabs--remember uppercase selected">
      Souvenirs
    </div>

    <!-- SELECT FLOWER -->
    <div class="profile__tabs--flower pull-right uppercase">
      Fleurs
    </div>

  </div>

  <!-- CONTENT TABS -->
  <div class="profile__content">

    <!-- SEE REMEMEBERS -->
    <div class="profile__content--remember">

      <!-- A POST -->
      <div class="profile__remember">

        <!-- PROFILE OF POSTER -->
        <div class="profile__remember--profile">
          <img width="41" src="src/images/profiles/lea.png" alt="Profile Lea" />
          <span class="name">Léa Derian</span><br>
          <span class="date">22 avril</span>
        </div>

        <!-- PICTURE -->
        <div class="profile__remember--picture">
          <img src="src/images/profiles/lea-friend.jpg" alt="Amis Léa" />
        </div>

        <!-- ADD A FLOWER -->
        <div class="profile__remember--action">
          <div class="add-flower">
            <button type="button" class="btn" name="button">
              <img src="src/images/icons/flower-white-icon.svg" alt="Fleur blanche" />
            </button>
          </div>
        </div>
      </div>

    </div>


    <!-- SEE FLOWERS -->
    <div class="profile__content--flower">
      Fleurs
    </div>

  </div>

</div>
