{{> header}}
<div class="profile">

  <!-- PROFILE PICTURE -->
  <div class="profile__container--image">
    <img src="src/images/profile-image-1.jpg" class="profile--image" alt="Profile image" />
  </div>

  <!-- INFORMATIONS -->
  <div class="text-center profile__infos">
    <div class="profile__infos--name">
      <p>
        Laure Perrault
      </p>
    </div>
    <div class="profile__infos--date text-left">
      <p>
        28 juillet 1988
      </p>
      <p>
        10 aout 2014
      </p>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="profile__action">

    <!-- ADD A REMEMBER -->
    <div class="profile__action--remember">
      <span>12</span><br>
      souvenirs
    </div>

    <!-- ADD A FLOWER -->
    <div class="profile__action--flower pull-right">
      <span>43</span><br>
      fleurs reçues
    </div>

  </div>

  <!-- TABS -->
  <div class="profile__tabs">

    <!-- SELECT REMEMBER -->
    <div class="profile__tabs--remember uppercase selected">
      Souvenirs
    </div>

    <!-- SELECT FLOWER -->
    <div class="profile__tabs--flower pull-right uppercase">
      Fleurs
    </div>

  </div>

  <!-- CONTENT TABS -->
  <div class="profile__content">

    <!-- SEE REMEMEBERS -->
    <div class="profile_content--remember">

    </div>

    <!-- SEE FLOWERS -->
    <div class="profile_content--flower">

    </div>

  </div>

</div>
