{{> header}}
<div class="profile">

  <!-- ADD A MESSAGE = ADD A FLOWER -->
  <div class="profile__add">

    <!-- CONTAINER -->
    <div class="profile__add--container">

      <!-- CROSS -->
      <div class="profile__add--cross">
        <div></div>
      </div>

      <!-- MESSAGE -->
      <div class="profile__add--message">

        <label for="message">Votre message</label>
        <div>
          <textarea id="message" name="message" rows="5"></textarea>
        </div>
      </div>

      <!-- BUTTON -->
      <div class="profile__add--button">
        <button type="button" class="btn uppercase" name="button">Envoyer</button>
      </div>

    </div>

  </div>

  <!-- PROFILE PICTURE -->
  <div class="profile__container--image">
    <img src="src/images/profile-image-1.jpg" class="profile--image" alt="Profile image" />
  </div>

  <!-- INFORMATIONS -->
  <div class="text-center profile__infos">
    <div class="profile__infos--name">
      <p>
        Laure Perrault
      </p>
    </div>
    <div class="profile__infos--date text-left">
      <p>
        28 juillet 1988
      </p>
      <p>
        10 aout 2014
      </p>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="profile__action">

    <!-- ADD A REMEMBER -->
    <div class="profile__action--remember">
      <div class="action">
      <button class="btn" type="button" name="button">
        +
      </button>
      </div>
      <div class="content">
        <span>12</span><br>
        Souvenirs
      </div>
    </div>

    <!-- ADD A FLOWER -->
    <div class="profile__action--flower pull-right">
      <div class="content">
        <span>43</span><br>
        Fleurs reçues
      </div>
      <div class="action">
        <button class="btn" type="button" name="button">
          <img src="src/images/icons/flower-shadow-icon.svg" alt="Fleur icon" />
        </button>
      </div>
    </div>

  </div>

  <!-- TABS -->
  <div class="profile__tabs">

    <!-- SELECT REMEMBER -->
    <div class="profile__tabs--remember uppercase selected">
      Souvenirs
    </div>

    <!-- SELECT FLOWER -->
    <div class="profile__tabs--flower pull-right uppercase">
      Fleurs
    </div>

  </div>

  <!-- CONTENT TABS -->
  <div class="profile__content">

    <!-- SEE REMEMEBERS -->
    <div class="profile__content--remember">

      <!-- POST REMEMBER N°1 -->
      <div class="post__remember">

        <!-- PROFILE OF POSTER -->
        <div class="post__profile">
          <img width="41" src="src/images/profiles/lea.png" alt="Profile Lea" />
          <span class="post__profile--name">Léa Derian</span><br>
          <span class="post__profil--date">22 avril</span>
        </div>

        <!-- PICTURE -->
        <div class="post__remember--picture">
          <img src="src/images/profiles/lea-friend.jpg" alt="Amis Léa" />
        </div>

        <!-- REMEMBER -->
        <div class="post__remember--action">
          <div class="add-flower">
            <button type="button" class="btn" name="button">
              <img src="src/images/icons/flower-add-icon.svg" alt="Fleur blanche" />
            </button>
          </div>
          <div class="flowers">
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          </div>
        </div>
      </div>


      <!-- POST REMEMBER N°2 -->
      <div class="post__remember">

        <!-- PROFILE OF POSTER -->
        <div class="post__profile">
          <img width="41" src="src/images/profiles/marion.jpg" alt="Profile Lea" />
          <span class="post__profile--name">Marion Sebag</span><br>
          <span class="post__profile--date">18 avril</span>
        </div>

        <!-- PICTURE -->
        <div class="post__remember--picture">
          <img src="src/images/profiles/lea-friends-2.jpg" alt="Amis Léa" />
        </div>

        <!-- REMEMBER -->
        <div class="post__remember--action">
          <div class="add-flower">
            <button type="button" class="btn" name="button">
              <img src="src/images/icons/flower-add-icon.svg" alt="Fleur blanche" />
            </button>
          </div>
          <div class="flowers">
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
            <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          </div>
        </div>

    </div>


    <!-- POST REMEMBER N°3 -->
    <div class="post__remember">

      <!-- PROFILE OF POSTER -->
      <div class="post__profile">
        <img width="41" src="src/images/profiles/didier.jpg" alt="Profile Lea" />
        <span class="post__profile--name">Didier Bachelier</span><br>
        <span class="post__profile--date">12 avril</span>
      </div>

      <!-- PICTURE -->
      <div class="post__remember--picture">
        <img src="src/images/profiles/friends.jpg" alt="Amis Léa" />
      </div>

      <!-- REMEMBER -->
      <div class="post__remember--action">
        <div class="add-flower">
          <button type="button" class="btn" name="button">
            <img src="src/images/icons/flower-add-icon.svg" alt="Fleur blanche" />
          </button>
        </div>
        <div class="flowers">
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
          <img src="src/images/icons/flower-icon.svg" alt="Fleur rouge" />
        </div>
      </div>

  </div>

  </div>


  <!-- SEE FLOWERS -->
  <div class="profile__content--flower">

    <!-- POST FLOWER N°1 -->
    <div class="post__flower">

      <!-- PROFILE OF POSTER -->
      <div class="post__profile">
        <img width="41" src="src/images/profiles/didier.jpg" alt="Profile Lea" />
        <span class="post__profile--name">Didier Bachelier</span><br>
        <span class="post__profile--date">12 avril</span>
      </div>

      <!-- MESSAGE  -->
      <div class="post__flower--message">
        Tu resteras à jamais gravée dans ma mémoire ma Laure !
        Tu me manques tellement <3
      </div>

    </div>


    <!-- POST FLOWER N°2 -->
    <div class="post__flower">

      <!-- PROFILE OF POSTER -->
      <div class="post__profile">
        <img width="41" src="src/images/profiles/didier.jpg" alt="Profile Lea" />
        <span class="post__profile--name">Didier Bachelier</span><br>
        <span class="post__profile--date">12 avril</span>
      </div>

      <!-- MESSAGE  -->
      <div class="post__flower--message">
        Tu étais bien plus qu’une amie, une personne fabuleuse
        que je n’oublierais tout simplement jamais.
      </div>

    </div>


    <!-- POST FLOWER N°3 -->
    <div class="post__flower">

      <!-- PROFILE OF POSTER -->
      <div class="post__profile">
        <img width="41" src="src/images/profiles/didier.jpg" alt="Profile Lea" />
        <span class="post__profile--name">Didier Bachelier</span><br>
        <span class="post__profile--date">12 avril</span>
      </div>

      <!-- MESSAGE  -->
      <div class="post__flower--message">
        Ma fille, tu es partie avant moi.. Je suis dévasté. Tu me manques tellement mon petit bébé, je te revoie encore quand tu était toute petite… Je t’aime Laure.
      </div>

    </div>

  </div>

  </div>

</div>
