<div class="form-profile black_outlet">
  <div class="form-profile__form">
    <div class="form-profile__form--cross">
      <div></div>
    </div>
    <div class="form-profile__form--label">
      <label for="picture">Photo</label>
    </div>
    <input type="file" name="picture" id="picture" value="">
    <div class="form-profile__form--label">
      <label for="name">Nom</label>
    </div>
    <input type="text" name="name" id="name" value="">
    <div class="form-profile__form--label">
      <label for="start-date">Date de naissance</label>
    </div>
    <input type="date" name="start-date" id="start-date" value="">
    <div class="form-profile__form--label">
      <label for="end-date">Date du décès</label>
    </div>
    <input type="date" name="end-date" id="end-date" value="">
    <button class="form-profile__form--submit" type="submit" name="button">Valider</button>
  </div>
</div>
