{{#if previousButton}}
  <button class="header__previous" type="button" name="button">Previous</button>
{{/if}}
<header>
  <div class="header__logo ">
    <a href="home">
      <img src="src/images/forever-logo-dekstop.svg" alt="Logo" />
    </a>
    <h1>{{title}}</h1>
  </div>
</header>
