// COLORS
$color_black: #030303;
$color_white: #FEFEFE;

// RED
$color_red: #ff5a48;
$color_red_hover: #ea6a58;

// BASIC COLORS
$color_grey: #F8F8F8;
$color_orange: #EE8175;
$color_dark-grey: #E0E0E0;

// SUCCESS & DANGER
$color_success: #71BA51;
$color_danger: #E01931;
