/*
*** AVENIR
*/

/* Regular normal */
@font-face {
    font-family: 'Avenir';
    src: url(../../src/fonts/avenir-regular.ttc);
    font-weight: 400;
    font-style: normal;
}

/* black */
@font-face {
    font-family: 'Avenir';
    src: url(../../src/fonts/avenir-black.ttc);
    font-weight: 800;
    font-style: normal;
}


/*
*** CIRCULAR AIR
*/

/* Regular normal */
@font-face {
    font-family: 'Circular air';
    src: url(../../src/fonts/circular-air-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/* black */
@font-face {
    font-family: 'Circular air';
    src: url(../../src/fonts/circular-air-bold.otf);
    font-weight: 600;
    font-style: normal;
}
