/*
*** FONT CIRCULAR AIR
*/

/* REGULAR NORMAL */
@font-face {
    font-family: 'Circular air';
    src: url(../../src/fonts/circular-air-regular.ttf);
    font-weight: 400;
    font-style: normal;
}

/* BLACK */
@font-face {
    font-family: 'Circular air';
    src: url(../../src/fonts/circular-air-bold.otf);
    font-weight: 600;
    font-style: normal;
}
