/*
*** GENERAL
*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  font-size: 13px;
}

a {
  text-decoration: none;
}

render-outlet {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

render-view {
  /* GENERAL STYLE OF PAGES */
  transition: opacity .5s ease;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
    top: 0; left: 0;
}

.unactive-outlet {
  display: none !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/*
*** MEDIA QUERIES
*/

// GENRERAL FOR 0px --> 760PX DEVICES
@media screen and (max-width: 760px) {
  render-view {
    padding: 14px 8px;
  }

  .mobile {

    &--block {
      display: block;
    }

    &--inline {
      display: inline-block;;
    }
  }

  .desktop {

    &--block {
      display: none;
    }

    &--inline {
      display: none;
    }
  }
}

// GENRERAL FOR 760PX+ DEVICES
@media screen and (min-width: 760px) {
  render-view {
    padding: 14px;
  }

  .mobile {

    &--block {
      display: none;
    }

    &--inline {
      display: none;
    }
  }

  .desktop {

    &--block {
      display: block;
    }

    &--inline {
      display: inline-block;
    }
  }
}
