html, body {
  width: 100%;
  height: 100%;
  padding: 14px 8px;
}

body {
  font-family: 'Avenir';
  font-size: 13px;
}

a {
  text-decoration: none;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
