// CONFIG
@import 'config/fonts';
@import 'config/colors';
@import 'config/general';

// PARTIALS
@import 'partials/header';

// COMPONENTS
@import 'components/forms';
@import 'components/button';

// PAGES
@import 'pages/login';
