.profile {

  /*
  *** GENERAL
  */

  &__action--remember {

    button {
      width: 34px;
      height: 34px;
      box-shadow: 0 0 4px 0 rgba(35, 35, 35, 0.3);
      border-radius: 8px;
    }
  }


  /*
  *** MEDIA QUERIES
  */

  // GENRERAL FOR 0px --> 760PX DEVICES
  @media screen and (max-width: 760px) {
    &__action {

      width: 100%;
      height: 80px;
      margin-top: 10px;
      border-top: solid 1px #E7E7E8;
      border-bottom: solid 1px #E7E7E8;
      display: flex;

      span {
        font-size: 20px;
        font-weight: 600;
      }

      &--remember,
      &--flower {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .action {
          font-weight: 800;
          font-size: 28px;
        }

        .content {
          letter-spacing: 0.5px;
        }
      }

      &--flower {

        .content {
          margin-right: 22px;
        }
      }

      &--remember {
        border-right: solid 1px #E7E7E8;

        .action {
          margin-right: 32px;
        }

        .content {
          margin-left: 12px;
        }
      }
    }

    // TABS

    &__tabs {

      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);

      &--remember,
      &--flower {
        width: 50%;
        height: 35px;
        background: #232323;
        display: inline-block;
        color: $color_white;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        transition: 100ms all;
      }

      &--remember {
        border-right: solid 1px #E7E7E8;
      }

      &--flower {

      }

      .selected {
        border-bottom: inset 2px $color_white;
      }
    }
  }

  // GENRERAL FOR 760PX+ DEVICES
  @media screen and (min-width: 760px) {

    background: $color_grey;

    // ACTION
    &__action {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;


      // GENERAL
      &--remember,
      &--flower {
        width: 50%;
        display: inline-block;
        display: flex;
        justify-content: center;


        .content {
          color: #C0C0C0;
          font-size: 18px;

          span {
            font-size: 40px;
            color: #EE8175;
            font-weight: 800;
          }
        }

        .action {
          position: relative;
            bottom: 13px;
        }
      }

      // REMEMBER
      &--remember {
        // CHANGE ORDER FOR DESKTOP BETWEEN CONTENT AND ACTION
        .content {
          order: 1;
        }

        .action {
          order: 2;

          button {
            font-size: 25px;
            color: $color_red;
          }
        }
      }


      // FLOWER
      &--flower {

        .action {
          position: relative;
            right: 20px;
        }
      }
    }

    // TABS
    &__tabs {
      background: $color_white;
      height: 30px;
      display: flex;


      // GENRAL
      &--remember,
      &--flower {
        width: 50%;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 14px;
        color: #EE8175;
      }

      // REMEMBER
      &--remember {
        border-right: solid 1px #EBEBEB;
      }
    }
  }
}
