.profile {

  /*
  *** GENERAL
  */

  // ACTIONS
  &__content {
    width: 100%;

    &--remember {

      .post__remember {

        &--action {

          display: flex;
          align-items: center;
          width: 100%;
          height: 50px;
          overflow-x: scroll;

          .add-flower {
            width: 50px;
            height: 50px;
            background: $color_red;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
              width: 50px;
              height: 30px;

              img {
                position: relative;
                  right: 2px;
              }
            }
          }

          .flowers {
            width: 1000%;
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            display: flex;
            align-items: center;


            img {
              position: relative;
                top: 2px;
            }
          }
        }
      }
    }
  }


  /*
  *** MEDIA QUERIES
  */

  // GENRERAL FOR 0px --> 760PX DEVICES
  @media screen and (max-width: 760px) {
    // TABS CONTENT

    &__content {
      width: 100%;

      &--remember {

        .post__remember {

          overflow: hidden;
          width: 100%;
          border-top: solid 3px #E0E0E0;

          &:first-child {
            border-top: none;
          }

          // PROFILE OF THE POSTER
          .post__profile {
            background: $color_grey;
          }

          // PICTURE
          &--picture {
            width: 100%;
            max-height: 300px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }

      &--flower {
        display: none;
      }
    }
  }

  // GENRERAL FOR 760PX+ DEVICES
  @media screen and (min-width: 760px) {
    &__content {
      width: 100%;

      &--remember {
        width: 50%;
        display: inline-block;
        float: left;

        .post__remember {
          overflow: hidden;
          border-right: solid 1px #EBEBEB;

          &--picture {
            width: 100%;
            height: 300px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

}
